$base-dark: #0D1230;
$base-light: #FFFFFF;
$sub-base: #27AD88;
$base-dark-header: rgba(13,18,48,0.3);



// responsive width variables for different pages

// header responsive width
$mobile-max-width:          1100px;
$mobile-card-breakpoint:    1050px;
$mobile-card-breakpoint-2:  600px;
$mobile-width-header:       768px;
$mobile-width-400:          400px;

$mobile-button-breakpoint:  768px;
$mobile-button-breakpoint-2:450px;
